* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserat", sans-serif;
}
.container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

//Mixin
@mixin styleEleA($fs, $color, $fw) {
  text-decoration: none;
  font-size: $fs;
  color: $color;
  font-weight: $fw;
}
@mixin styleText($fs, $color, $fw) {
  font-size: $fs;
  color: $color;
  font-weight: $fw;
}
@mixin styleButton($bg, $color, $shadow) {
  border: 2px solid $color-blue-100;
  background-color: $bg;
  color: $color;
  box-shadow: $shadow;
  border-radius: 12px;
  padding: 15px 35px;
  transition: all 0.5s;
  cursor: pointer;

  //hover => đổi màu chữ và màu nền
  &:hover {
    background-color: $color;
    color: $bg;
  }
}

//Variables
//color
$color-white: #ffffff;
$color-black: black;
$color-txt: rgb(245, 245, 247);
$color-bg: #f5f5f7;

//font weight:
$fw-normal: 400;
$fw-bold: 700;
$fw-semi-bold: 600;

//font size
$fs-heading: 22px;

//___________________________________________________________________________________
body {
  background-color: $color-bg;
}

header {
  z-index: 1;
  background-color: $color-bg;
  height: 70px;

  .header_inner {
    display: flex;
    align-items: center;
    height: 100%;

    .header_logo {
      margin-right: 100px;

      a {
        @include styleEleA($fs-heading, rgba(0, 0, 0, 0.8), $fw-bold);
      }
    }

    .header_btn {
      display: flex;
      width: 70%;
      justify-content: space-between;
      text-align: center;

      .btn_left {
        display: flex;
        text-align: center;
        width: 15%;
        justify-content: space-between;

        a {
          padding: 10px 20px;
          transition: all 0.5s;

          @include styleEleA(1rem, rgba(0, 0, 0, 0.8), $fw-bold);

          &:hover {
            text-decoration: none;
            padding: 10px 17px;
            font-size: 1.2rem;
          }
        }
      }

      .btn-right {
        margin-top: 20px;
        a {
          transition: all 0.5s;

          @include styleEleA(22px, rgba(0, 0, 0, 0.8), $fw-bold);

          &:hover {
            font-size: 25px;
          }
        }
      }
    }
  }
}
.header-fixed-space {
  margin-top: 70px;
}

//___________________________________________________________________________________
.cart {
  &.off-canvas-panel {
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.2s ease-out, opacity 0.5s ease-out;
    background-color: rgba(0, 0, 0);
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);

    @media (min-width: 480px) {
      width: 500px;
      transform: translateX();
    }

    &.is-visible {
      transform: translateX(0);
      z-index: 2;
    }

    .side-nav {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 20px;
      color: $color-white;

      .cart_heading {
        display: flex;
        justify-content: space-between;
        color: $color-white;

        h2 {
          font-weight: $fw-bold;
        }

        button {
          background-color: transparent;
          border: none;
          color: $color-white;
          font-size: 30px;
          font-weight: $fw-bold;
        }
      }

      .cart_item {
        height: 65%;
      }

      .cart_footer {
        display: flex;
        align-self: flex-end;
        flex-direction: column;

        strong {
          align-self: flex-end;
          font-size: 1.2rem;
          font-weight: 600;
          margin-right: 20px;
          margin-bottom: 1rem;
        }

        .action {
          display: flex;
          justify-content: space-evenly;

          button {
            font-size: 1.2rem;
            padding: 1rem 2rem;
            border: 1px solid white;
            margin-right: 20px;
            border-radius: 10px;
            color: $color-white;
          }
        }
      }
    }
  }
}

//CAROUSEL
.portCarousel {
  padding-top: 50px;
  background-color: $color-black;
  height: 420px;

  .carousel_inner {
    background-color: $color-black;

    .item {
      .item_inner {
        display: flex;
        justify-content: center;

        .item_left {
          // display: block;
          width: 50%;
          .item_content {
            padding-bottom: 30px;

            h2 {
              padding-bottom: 20px;

              @include styleEleA(40px, $color-txt, $fw-bold);
            }

            span {
              max-width: 70%;
              @include styleEleA(20px, $color-txt, $fw-normal);
            }
          }

          a {
            padding: 10px;
            border: 1px solid $color-white;
            border-radius: 10px;
            transition: all 0.5s;

            @include styleEleA(22px, $color-white, $fw-bold);

            &:hover {
              background-color: $color-white;
              color: $color-black;
            }
          }
        }
        .item_right {
          img {
            max-width: 80%;
            height: auto;
          }
        }
      }
    }
  }
}

.store {
  margin-top: 50px;

  //Heading of store
  h2 {
    text-align: center;
    margin: auto;
    padding-bottom: 30px;

    @include styleEleA(40px, $color-black, $fw-bold);
  }

  //Store sort
  .store_filter {
    padding-bottom: 30px;
    .dropdown {
      a.dropdown-toggle {
        border: 1px solid black;

        background-color: $color-bg;
      }
    }
  }

  //List of items in store
  .store_cart {
    margin-top: 20px;
    .main_store {
      .store_items {
        .store_inner {
          margin: 10px;
          border: 1px solid transparent;
          border-radius: 20px;
          background-color: white;

          .store_img {
            text-align: center;
            margin: 20px;
            img {
              height: 250px;
              width: 100%;
              background-color: $color-bg;
              // border-top-left-radius: 20px;
              // border-top-right-radius: 20px;
              border-radius: 20px;
            }
          }

          .store_desc {
            .store_content {
              margin: 10px 20px;
              display: flex;
              text-align: left;
              justify-content: space-between;
              vertical-align: middle;

              h2 {
                padding-bottom: 0;
                margin: 0;
              }
              h3 {
                margin: auto 0;
              }
            }

            .store_descContent {
              margin: 10px 20px;
              .span {
                font-size: 30px;
              }
            }

            .store_add {
              padding-bottom: 20px;
              margin-right: 20px;
              text-align: right;

              a {
                border: 1px solid black;
                transition: all 0.5s;

                &:hover {
                  background-color: black;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
